.mainPage{
    display: flex;
    justify-content: center;
    gap: 3px;
    
}
.pageNumber button{
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: green;
    background-color: bisque;
}
.prod{
    max-height: fit-content;
    height: fit-content;
}



.img{
    height: 300px;
}

.img img{
    height: 250px;
}